HeadSpringApp/HeadSpringApp/Service References/ServiceReference1/HeadSpringService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HeadSpringService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:29568/HeadSpringService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:29568/HeadSpringService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:29568/HeadSpringService.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:29568/HeadSpringService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HeadSpringWcf" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHeadSpringService_GetEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployee" />
  </wsdl:message>
  <wsdl:message name="IHeadSpringService_GetEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IHeadSpringService_DeleteEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="IHeadSpringService_DeleteEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IHeadSpringService_AddEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployee" />
  </wsdl:message>
  <wsdl:message name="IHeadSpringService_AddEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IHeadSpringService_UpdateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployee" />
  </wsdl:message>
  <wsdl:message name="IHeadSpringService_UpdateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IHeadSpringService_EmployeeLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeLogin" />
  </wsdl:message>
  <wsdl:message name="IHeadSpringService_EmployeeLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IHeadSpringService">
    <wsdl:operation name="GetEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeadSpringService/GetEmployee" message="tns:IHeadSpringService_GetEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeadSpringService/GetEmployeeResponse" message="tns:IHeadSpringService_GetEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeadSpringService/DeleteEmployee" message="tns:IHeadSpringService_DeleteEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeadSpringService/DeleteEmployeeResponse" message="tns:IHeadSpringService_DeleteEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeadSpringService/AddEmployee" message="tns:IHeadSpringService_AddEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeadSpringService/AddEmployeeResponse" message="tns:IHeadSpringService_AddEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeadSpringService/UpdateEmployee" message="tns:IHeadSpringService_UpdateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeadSpringService/UpdateEmployeeResponse" message="tns:IHeadSpringService_UpdateEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmployeeLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeadSpringService/EmployeeLogin" message="tns:IHeadSpringService_EmployeeLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeadSpringService/EmployeeLoginResponse" message="tns:IHeadSpringService_EmployeeLogin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHeadSpringService" type="tns:IHeadSpringService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployee">
      <soap:operation soapAction="http://tempuri.org/IHeadSpringService/GetEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap:operation soapAction="http://tempuri.org/IHeadSpringService/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <soap:operation soapAction="http://tempuri.org/IHeadSpringService/AddEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <soap:operation soapAction="http://tempuri.org/IHeadSpringService/UpdateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeLogin">
      <soap:operation soapAction="http://tempuri.org/IHeadSpringService/EmployeeLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HeadSpringService">
    <wsdl:port name="BasicHttpBinding_IHeadSpringService" binding="tns:BasicHttpBinding_IHeadSpringService">
      <soap:address location="http://localhost:29568/HeadSpringService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>